.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao img {
  border-radius: 0.5rem;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
  font-family: "Libre Baskerville", serif;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/deco.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1080px) {
  .introducao h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 840px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
  }
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao p {
    font-size: 1.17rem;
  }
}

@media (max-width: 750px) {
  .introducao {
    gap: 60px;
  }
  .introducao h1 {
    font-size: 2.625rem;
  }
  .introducao p {
    font-size: 1.125rem;
  }
  .introducao h1::before {
    width: 35px;
    height: 12.5px;
    left: 0px;
    top: -20px;
  }
}
@media (max-width: 525px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
